.bloodpressure-main {

  position: relative;

  .action-buttons {
    position: absolute;
    right: 0;
    margin: 0;
    // top: 10px;
    // transform: translateY(-50%);
    // display: flex;
    // flex-direction: row;
  }
  // button {
  //   position: absolute;
  //   right: 10px;
  //   top: 10px;
  //   // transform: translateY(-50%);
  // }
}
