






// .journal-buttons .ui.button {
//   margin-right: 10px;
// }
// .pushright {
//   margin-left: auto !important;
//   color: #fff;
// }
// .journal {
//
//   .buttons {
//     width: 70%;
//   }
//
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   // justify-content: center;
//   // flex-wrap: wrap;
//   margin: 20px;
//
//
//   .journal-entry {
//     min-height: 100px;
//   }
//   .journal-entries {
//     width: 100%;
//   }
//   .journal-mornnoon {
//     // background-color: red;
//     position: relative;
//     i {
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//     }
//   }
//
//   .date {
//     font-size: 2rem;
//     font-weight: 400;
//     opacity: 0.7;
//     margin-bottom: auto;
//   }
//   p {
//
//
//     // padding-top: 10px;
//     // padding-bottom: 20px;
//     font-size: 1.2rem;
//     word-wrap: break-word;
//     line-height: 1.1;
//     font-weight: 400;
//     // text-shadow: 0 1px 1px rgba(#000, 0.4);
//   }
//
//   h2 {
//     text-align: center;
//     color: #fff;
//     // margin: auto;
//     // margin-top: auto;
//     padding-top: 10px;
//     padding-bottom: 20px;
//     font-size: 4.8rem;
//     word-wrap: break-word;
//     line-height: 1.1;
//     font-weight: 700;
//     text-shadow: 0 1px 1px rgba(#000, 0.4);
//   }
//
// }
