
.journal-entry {

  position: relative;

  .action-buttons {
    position: absolute;
    right: 10px;
    top: 10px;
    // transform: translateY(-50%);
    display: flex;
    flex-direction: row;
  }
}

.journal-main {

  

  h2 {
    text-align: center;
  }

  p {
    font-size: 1.5rem;
    color: #000;
  }

  .date {
    color: #000;
     font-size: 2rem;
     font-weight: 400;
     opacity: 0.7;
     margin-bottom: auto;
   }


  .journal-mornnoon {
  position: relative;
   i {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
   }
  }

  .date {
    font-size: 2rem;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: auto;
  }
  .hovered {
    display: none;
  }
}
