// $teal: #1ABC9C;
$teal: #47bbb3;
$green: #008C31;
$red: #c0392b;
// $purple: #8E44AD;
$purple: #9c4274;
$pink: #CA2C68;
$dark-pink: #AA0C48;
$yellow: #F9BF3B;
// $orange: #D87400;
$orange: #ff9618;
// $blue: #22A7F0;
$blue: #12b0c5;
$dark-blue: #004790;
